.particle-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.6;
  }
  
  .particle-background canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }